* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 60px;
    border-bottom: solid 10px;
    
    
}

body {
    background-color: black;
    color: white;
}
.pos {
    padding-top: 50px;
}
.redtext {
    color: red;
}